.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @include lg {
        padding: 0 20px;
        max-width: 800px;
    }

    @include sm {
        padding: 0 16px;
    }
}

li {
    padding-left: 16px;
    line-height: 22px;
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }

    &:before {
        content: "";
        width: 8px;
        height: 8px;
        background: $main;
        position: absolute;
        left: 0;
        top: 8px;
        border-radius: 50%;
    }
}

button {
    width: 200px;
    height: 52px;
    border-radius: 60px;
    font-family: "IBMPlexMonoRegular", sans-serif;
    cursor: pointer;
    background: $main;
    color: $white;
    transition: $transition;
    text-transform: uppercase;
    font-size: 16px;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: $darkBlue;
    }

    &:disabled {
        background: $blue;
        cursor: not-allowed;
    }
}

.input-wrapper {
    padding-top: 10px;
    input,
    textarea {
        width: 100%;
        caret-color: $main;
        background-color: $white;
        border: none;
        border-bottom: 1px solid $main;
        padding: 12px 0 8px;
        font-size: 16px;
        line-height: 22px;
        color: $black;
        transition: $transition;

        &::-ms-clear {
            width: 0;
            height: 0;
        }
        &:focus {
            outline: none;
        }

        & + label {
            position: absolute;
            top: 15px;
            left: 0;
            font-size: 16px;
            line-height: normal;
            pointer-events: none;
            transition: $transition;
            color: $black;
            background-color: white;
        }
        &:invalid:not(:focus):not(:placeholder-shown) {
            border-color: $error;

            & + label {
                font-size: 14px;
                line-height: 20px;
                top: 6px;
                color: $error;
            }
        }
        &:focus + label,
        &:valid + label {
            color: $gray2;
            font-size: 14px;
            line-height: 20px;
            top: 6px;
        }
        &:valid:not(:focus) + label {
            color: $gray2;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);

    @include lg {
        padding: 16px;
    }

    .margin-bottom-12 {
        margin-bottom: 12px;
    }

    .margin-bottom-40 {
        margin-bottom: 40px;

        @include lg {
            margin-bottom: 24px;
        }
    }

    &__content-wrapper {
        margin: auto;
        transform: translateY(-50%);
        top: 50%;
        max-width: 1200px;
        background-color: white;
        max-height: calc(100svh - 60px);
        display: flex;
        border-radius: 12px;

        @include lg {
            max-height: 90svh;
            transform: translateY(-47%);
        }

        h2 {
            text-align: left;
            margin: 0 0 40px;

            @include lg {
                margin: 0 0 16px;
                font-size: 24px;
            }
        }

        h3 {
            margin-bottom: 12px;

            @include lg {
                margin-bottom: 8px;
            }
        }

        p {
            margin-bottom: 40px;

            @include lg {
                margin-bottom: 24px;
            }
        }

        picture {
            border-radius: 12px;

            img {
                margin-bottom: 40px;

                @include lg {
                    margin: 0 auto 20px;
                }
            }
        }

        .blue-block {
            font-size: 16px;
            line-height: normal;
            color: $main;
            border: 1px solid $main;
            border-radius: 70px;
            padding: 12px 24px;
            width: fit-content;
            margin-bottom: 12px;
        }

        .items-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;

            @include lg {
                gap: 16px;
            }

            @include sm {
                gap: 40px;
            }

            .item {
                width: calc(33.3% - 26.6px);

                @include lg {
                    width: calc(50% - 8px);
                }

                @include sm {
                    flex-direction: column;
                    width: 100%;
                }

                p {
                    margin-bottom: 0;
                }
            }

            &.simple {
                gap: 10px;
            }

            &.two-column {
                .item {
                    width: calc(50% - 20px);
                }

                @include sm {
                    flex-direction: column;

                    .item {
                        width: 100%;
                    }
                }
            }

            &.vacancy {
                gap: 12px;

                & > div {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    padding: 8px 16px;
                    border-radius: 70px;
                    border: 1px solid $main;

                    p {
                        font-size: 14px;
                        line-height: 20px;
                        color: $main;
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.modal5,
        &.modal6 {
            p {
                margin-bottom: 12px;
            }
        }
    }

    &__content-wrapper,
    #caption {
        animation-name: modalZoom;
        animation-duration: 0.6s;
    }

    &__scroll {
        padding: 60px 80px 40px;
        overflow: auto;

        @include lg {
            padding: 20px 16px;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: -64px;
        transition: 0.3s;
        width: 48px;
        height: 48px;
        cursor: pointer;
        @include lg {
            right: 0;
            top: -64px;
        }

        & svg {
            & rect {
                transition: $transition;
                stroke: $divider;
            }
            & path {
                transition: $transition;
                stroke: $divider;
            }
        }
        &:hover {
            & svg {
                & rect {
                    stroke: $main;
                }
                & path {
                    stroke: $main;
                }
            }
        }
    }
}

.modal5,
.modal6 {
    h2 {
        margin-bottom: 12px;
    }

    .items-wrapper {
        margin-bottom: 40px;
    }
}

@keyframes modalZoom {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
