@font-face {
    font-family: "IBMPlexMonoRegular";
    src: url("../fonts/Ibmplexmono.woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "IBMPlexMonoRSemiBold";
    src: url("../fonts/Ibmplexmonosemibold.woff2");
    font-style: normal;
    font-weight: 700;
}

html {
    font-family: "IBMPlexMonoRegular", sans-serif;
    color: $black;
}

h1 {
    font-family: "IBMPlexMonoRSemiBold", sans-serif;
    font-size: 48px;
    line-height: 50.4px;
    color: $white;
    max-width: 612px;
    text-align: center;
    margin: 0 auto;

    @include sm {
        font-size: 24px;
        line-height: normal;
    }
}

h2 {
    font-family: "IBMPlexMonoRSemiBold", sans-serif;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    color: $black;

    @include sm {
        font-size: 24px;
    }
}

h3 {
    font-family: "IBMPlexMonoRSemiBold", sans-serif;
    font-size: 16px;
    line-height: normal;
    color: $black;
}

p {
    font-size: 16px;
    line-height: 22px;
    color: $black;
}
