$black: #1c1c23;
$main: #0013ff;
$blue: #adb3ff;
$darkBlue: #141d93;
$overlay: #f8f8ff;
$white: #ffffff;
$gray: #c2c3cc;
$gray2: #747581;
$error: red;
$divider: #d7d7e1;

@import "./resetBrowserStyles";
@import "./common";
@import "./typography";
@import "./components";
@import "./navigation";
@import "./footer";
@import "./swiper-bundle.css";

section {
    overflow: hidden;
    margin-top: 25px;
    padding-top: 125px;

    &:first-of-type {
        margin-top: 85px;
        padding-top: 0;

        @include sm {
            margin-top: 56px;
        }
    }

    @include lg {
        margin-top: 5px;
        padding-top: 75px;
    }

    @include sm {
        padding-top: 56px;
    }
}

.header {
    & .container {
        background-color: $black;
        background-image: url(../img/header_circle-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 148px 0;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include lg {
            padding-top: 116px;
            padding-bottom: 146px;
            margin: 0 auto;
            width: calc(100% - 40px);
            background-size: 100% 100%;

            align-items: center;
        }

        @include sm {
            flex-direction: column;
            justify-content: center;
            width: calc(100% - 32px);
        }
    }

    h1 {
        @include sm {
            max-width: 320px;
        }
    }

    &__subtitle {
        margin: 16px auto 40px;
        color: $gray;
        max-width: 480px;
        text-align: center;

        @include sm {
            max-width: 320px;
            margin: 16px 0 24px;
        }
    }

    &__items-wrapper {
        display: flex;
        border-radius: 12px;
        border: 1px solid $main;
        background-color: $white;
        width: 100%;
        max-width: 1070px;
        margin: 0 auto;
        transform: translateY(-58px);

        @include lg {
            flex-direction: column;
            transform: translateY(-32px);
            max-width: 700px;
        }

        @include sm {
            width: calc(100% - 56px);
        }

        .item {
            padding: 42px 32px 28px 84px;
            flex: 1;

            @include lg {
                padding: 24px 24px 24px 76px;
            }

            &:before {
                position: absolute;
                top: 32px;
                left: 32px;
                width: 40px;
                height: 40px;

                @include lg {
                    top: 24px;
                    left: 24px;
                }
            }

            &:first-child {
                &:before {
                    content: url(../img/header_item-1.svg);
                }
            }

            &:nth-child(2) {
                border-left: 1px solid $main;
                border-right: 1px solid $main;

                &:before {
                    content: url(../img/header_item-2.svg);
                }

                @include lg {
                    border-left: unset;
                    border-right: unset;
                    border-top: 1px solid $main;
                    border-bottom: 1px solid $main;
                }
            }

            &:last-child {
                padding-right: 26px;

                &:before {
                    content: url(../img/header_item-3.svg);
                }
            }

            h3 {
                margin-bottom: 10px;
            }

            p {
                color: $gray2;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    picture {
        position: absolute;

        &:nth-of-type(1) {
            width: 350px;
            height: 208px;
            top: 60px;
            left: -120px;

            @include lg {
                width: 148px;
                height: 88px;
                top: 16px;
                left: -20px;
            }

            @include sm {
                left: -16px;
            }
        }

        &:nth-of-type(2) {
            width: 150px;
            height: 150px;
            top: 60px;
            right: 108px;

            @include lg {
                width: 88px;
                height: 88px;
                top: 16px;
                right: 16px;
            }
        }

        &:nth-of-type(3) {
            width: 350px;
            height: 208px;
            top: 270px;
            right: -120px;

            @include lg {
                width: 147px;
                height: 88px;
                right: -20px;
                top: unset;
                bottom: 46px;
            }

            @include sm {
                right: -16px;
            }
        }

        &:nth-of-type(4) {
            width: 150px;
            height: 150px;
            top: 439px;
            right: 292px;

            @include lg {
                width: 54px;
                height: 54px;
                transform: translateX(50%);
                right: 50%;
                top: unset;
                bottom: 10px;
            }
        }

        &:nth-of-type(5) {
            width: 151px;
            height: 151px;
            top: 328px;
            left: 136px;

            @include lg {
                width: 80px;
                height: 80px;
                left: 24px;
                top: unset;
                bottom: 44px;
            }
        }
    }
}

.aboutUs {
    padding-top: 90px;

    @include sm {
        padding-top: 50px;
    }

    .container {
        display: flex;
        gap: 80px;

        @include lg {
            flex-direction: column;
        }
    }

    &__title {
        text-align: left;
        margin: 0;

        @include lg {
            margin: 0;
        }
    }

    &__subtitle {
        margin: 12px 0 40px;

        @include lg {
            order: 3;
            margin: 16px 0 0;
        }
    }

    &__left-side {
        flex: 1;

        @include lg {
            display: flex;
            flex-direction: column;
        }
    }

    &__comment-wrapper {
        padding: 24px;
        border-radius: 12px;
        border: 1px solid $blue;
        display: flex;
        gap: 16px;

        @include lg {
            order: 2;
        }

        @include sm {
            flex-direction: column;
            align-items: center;
            padding: 16px 16px 20px;
            gap: 8px;
        }

        .photo {
            width: 100%;
            max-width: 125px;
            flex: 1;
        }

        .comment {
            flex: 1;

            @include sm {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }
        }

        .comment__text {
            color: $main;
            font-size: 14px;
            line-height: 20px;

            @include sm {
                margin-top: 16px;
            }
        }

        h3 {
            color: $main;
            margin-top: 8px;
        }
    }

    &__workspace-img {
        width: 100%;
        max-width: 554px;
        margin-top: 60px;
        flex: 1;

        @include lg {
            margin: 24px auto;
        }

        &.desktop {
            @include lg {
                display: none;
            }
        }

        &.mobile {
            display: none;

            @include lg {
                display: block;
            }
        }
    }
}

.expertise {
    .container {
        @include lg {
            align-items: center;
        }
        @include sm {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @include lg {
            flex-direction: column;
            margin-bottom: 24px;
        }

        h2 {
            margin: 0;

            @include lg {
                margin-bottom: 12px;
            }
        }

        .subtitle {
            width: 100%;
            max-width: 550px;
        }
    }

    &__accordion-wrapper {
        margin-top: 60px;
        overflow: hidden;

        @include lg {
            margin-top: 24px;
        }
    }

    &__icon {
        @include lg {
            transform: rotate(90deg);
        }
    }

    &__list-wrapper {
        height: 488px;

        @include lg {
            height: auto;
        }
    }

    &__list {
        height: 100%;
        flex-wrap: nowrap;
        display: flex;

        @include lg {
            flex-direction: column;
        }
    }

    &__item {
        width: 10%;
        height: 100%;
        min-width: 76px;
        grid-row-gap: 20px;
        border-left: 1px solid $black;
        flex-direction: column;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
        display: flex;
        position: relative;
        transition: width 0.9s ease-in-out;

        @include lg {
            width: 100%;
            border-left: unset;
            border-top: 1px solid $black;
            padding: 16px 12px;
            flex-direction: column-reverse;
            padding-bottom: 0;
        }

        &:last-child {
            border-right: 1px solid $black;

            @include lg {
                border-right: unset;
                border-bottom: 1px solid $black;
            }
        }

        &.active {
            width: 80% !important;

            @include lg {
                width: 100% !important;
                height: 420px;
                padding-bottom: 16px;
            }

            .expertise__img {
                opacity: 1;
            }

            .expertise__details-wrapper {
                text-align: left;
                display: flex;
                justify-content: left;
                flex-direction: row;
            }

            .expertise__text-wrapper {
                opacity: 1;
                top: 0px;
            }

            .expertise__vertical-title {
                opacity: 0;
            }

            .expertise__title {
                opacity: 1;
            }

            .expertise__icon {
                transform: rotate(90deg);
            }
        }

        &:nth-child(1) {
            .expertise__img {
                background-image: url(../img/exp1_back-img.png);
            }
        }
        &:nth-child(2) {
            .expertise__img {
                background-image: url(../img/exp2_back-img.png);
            }
        }
        &:nth-child(3) {
            .expertise__img {
                background-image: url(../img/exp3_back-img.png);
            }
        }
        &:nth-child(4) {
            .expertise__img {
                background-image: url(../img/exp4_back-img.png);
            }
        }
        &:nth-child(5) {
            .expertise__img {
                background-image: url(../img/exp5_back-img.png);
            }
        }
        &:nth-child(6) {
            .expertise__img {
                background-image: url(../img/exp6_back-img.png);
            }
        }
        &:nth-child(7) {
            .expertise__img {
                background-image: url(../img/exp7_back-img.png);
            }
        }
        &:nth-child(8) {
            .expertise__img {
                background-image: url(../img/exp8_back-img.png);
            }
        }
    }

    &__img {
        transition: opacity 0.4s ease-in-out;
        width: 100%;
        height: 80%;
        opacity: 0;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 1;
        position: relative;
        border-radius: 4px;
    }

    &__details-wrapper {
        width: 100%;
        grid-column-gap: 15px;
        text-align: center;
        flex-direction: column;
        align-items: center;
        display: block;

        @include lg {
            flex-direction: row;
        }
    }

    &__gradient-wrapper {
        width: 100%;
        height: 100%;
        align-items: flex-end;
        display: flex;
        position: absolute;
        top: auto;
        bottom: 0%;
        left: 0%;
        right: 0%;
        border-radius: 4px;
    }

    &__text-wrapper {
        opacity: 0;
        position: relative;
        top: 20px;
        transition: all 0.5s ease-in-out 0.8s;
        width: 100%;
    }

    .paragraph {
        margin-bottom: 0;
        background-color: $black;
        padding: 20px 24px;
        color: white;
        border-radius: 0 0 4px 4px;

        @include lg {
            font-size: 14px;
            line-height: 20px;
            padding: 16px;
        }
    }

    &__details-flex {
        grid-column-gap: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;

        @include lg {
            justify-content: flex-start;
        }
    }

    &__title {
        opacity: 0;
        white-space: nowrap;
        position: absolute;
        left: 80px;
        font-size: 20px;
        line-height: normal;
        transition: opacity 0.4s ease-in-out;

        @include lg {
            opacity: 1;
            font-size: 16px;
        }
    }

    &__vertical-title-wrapper {
        width: 1px;
        height: 1px;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: auto;
        bottom: 80px;
        left: auto;
        right: auto;
        transform: rotate(-90deg);

        @include lg {
            display: none;
        }
    }

    &__vertical-title {
        white-space: nowrap;
        transform: translateY(-50%);
        opacity: 1;
        font-family: "IBMPlexMonoRSemiBold", sans-serif;
        font-size: 20px;
        line-height: normal;
        transition: opacity 0.4s ease-in-out;

        @include lg {
            display: none;
        }
    }

    &__icon {
        width: 52px;
        height: 52px;
    }
}

.programmingLanguages {
    .container {
        border-bottom: 1px solid $black;

        @include sm {
            width: calc(100% - 32px);
            margin: 0 auto;
            padding: 0;
        }
    }

    h2 {
        @include lg {
            margin: 0;
            text-align: left;
        }
    }

    .subtitle {
        margin: 12px auto 40px;
        width: 100%;
        max-width: 554px;
        text-align: center;

        @include lg {
            margin: 12px 0 16px;
            text-align: left;
        }
    }

    img {
        margin: 0 auto;
        height: 122px;
        transform: translateY(8px);
    }
}

.caseStudies {
    &__title {
        margin: 0 0 12px;
        text-align: left;
        @include sm {
            margin: 0 0 24px;
        }
    }

    &__subtitle {
        text-align: left;
        max-width: 470px;
    }

    &__swiper-buttons {
        display: flex;
        position: absolute;
        top: 50px;
        right: 0;

        @include lg {
            display: none;
        }
    }

    &__swiper-slide {
        border-radius: 12px;
        border: 1px solid $black;
        width: 100%;
        transition: background-size 0.6s ease-in-out;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: 100%;

        @include sm {
            background-size: 110%;
            width: calc(100% - 32px) !important;
        }

        &:hover {
            background-size: 104%;

            @include sm {
                background-size: 110%;
            }

            .caseStudies__link-arrow svg circle {
                fill: $darkBlue;
            }
        }

        &:nth-child(1) {
            background-image: url(../img/case1_img.png);
        }

        &:nth-child(2) {
            background-image: url(../img/case2_img.png);
        }

        &:nth-child(3) {
            background-image: url(../img/case3_img.png);
            background-position-y: -2px;
        }

        &:nth-child(4) {
            background-image: url(../img/case4_img.png);
        }
    }

    &__swiper-text-wrapper {
        padding: 20px 24px;
        background-color: $black;
        border-radius: 0 0 12px 12px;

        @include sm {
            padding: 12px 16px 16px;
        }

        h3 {
            color: white;
            margin-bottom: 16px;

            @include sm {
                margin-bottom: 8px;
            }
        }
    }

    &__slide-text {
        color: white;

        @include sm {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__swiper {
        margin-top: 40px;
        display: flex;
        align-items: center;
        overflow: inherit;

        @include sm {
            margin-top: 24px;
        }
    }

    &__swiper-wrapper {
        height: 400px;
    }

    &__link-arrow {
        position: absolute;
        top: 24px;
        right: 24px;

        @include sm {
            top: 16px;
            right: 16px;
        }

        & svg circle {
            transition: $transition;
        }
    }

    .swiper-button-prev2,
    .swiper-button-next2 {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: auto;
        height: auto;
        margin: 0;
        transform: none !important;
        cursor: pointer;

        & svg circle,
        & svg path {
            transition: $transition;
        }
    }

    .swiper-button-prev2 {
        transform: rotate(0deg) !important;
        margin-right: 8px;
    }

    .swiper-button-next2 {
        transform: rotate(180deg) translateY(6px) !important;
    }

    .swiper-button-prev2:hover,
    .swiper-button-next2:hover {
        & svg {
            & circle {
                fill: $main;
                stroke: $white;
            }

            & path {
                stroke: $white;
            }
        }
    }
}

.clients {
    .container {
        display: flex;
        justify-content: space-between;
        @include lg {
            flex-direction: column;
        }
    }

    h2 {
        margin: 0 0 12px;
        text-align: left;
    }

    &__left-part {
        width: 100%;
        max-width: 338px;
        @include lg {
            max-width: unset;
        }
    }

    &__right-part {
        @include sm {
            display: flex;
            flex-wrap: wrap;
            margin-top: 24px;
        }
    }

    &__row {
        display: flex;
        margin-bottom: 38px;

        @include lg {
            margin-bottom: 0;
            margin-top: 16px;
            justify-content: space-between;

            &:first-child {
                margin-top: 24px;

                @include sm {
                    margin-top: 0;
                }
            }
        }

        @include sm {
            flex-direction: column;
            width: 50%;
            margin: 0;
        }

        &:nth-of-type(1) {
            transform: translateX(-74px);

            @include lg {
                transform: translateX(0);
            }
        }

        &:nth-of-type(2) {
            transform: translateX(-38px);

            @include lg {
                transform: translateX(0);
            }

            @include sm {
                & > div {
                    border-right: 1px solid $main !important;
                }
            }
        }

        &:nth-of-type(3) {
            margin-bottom: 0;

            @include sm {
                flex-direction: row;
                width: 100%;
                flex-wrap: wrap;

                & > div {
                    width: 50%;

                    &:nth-child(2),
                    &:nth-child(3) {
                        border-right: 1px solid $main;
                    }
                }
            }
        }

        & > div {
            width: 240px;
            height: 66px;
            border-left: 1px solid $main;
            display: flex;
            justify-content: center;
            align-items: center;

            @include sm {
                width: 100%;
                padding: 12px;
                margin-bottom: 16px;
            }

            &:last-child {
                border-right: 1px solid $main;

                @include sm {
                    border-right: 1px solid transparent;
                }
            }
        }
    }
}

.reviews {
    &__title-wrapper {
        display: flex;
        justify-content: space-between;

        @include lg {
            flex-direction: column;
        }

        h2 {
            text-align: left;
            margin: 0;
        }

        p {
            max-width: 562px;

            @include lg {
                margin: 12px 0 24px;
            }
        }
    }

    &__swiper-buttons {
        display: flex;
        position: absolute;
        justify-content: space-between;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        right: 0;
        left: 0;
        z-index: 2;

        @include lg {
            display: none;
        }
    }

    &__swiper-slide {
        padding: 32px 48px;
        border-radius: 12px;
        border: 1px solid $blue;
        width: 100%;
        display: flex;
        flex-direction: column;
        opacity: 0.4;
        transition: $transition;

        @include sm {
            padding: 16px 16px 20px;
            width: calc(100% - 32px) !important;
        }

        &.swiper-slide-active {
            background-color: $overlay;
            border: 1px solid $overlay;
            opacity: 1;
        }
    }

    &__swiper-text-wrapper {
        padding: 20px 24px;
        background-color: $black;
        border-radius: 0 0 12px 12px;

        h3 {
            color: white;
            margin-bottom: 16px;
        }
    }

    &__swiper-person-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 12px;

        @include sm {
            flex-direction: column;
            gap: 8px;
        }

        img {
            width: 52px;
            height: 52px;
        }

        p {
            color: $gray2;

            @include sm {
                text-align: center;
                font-size: 14px;
                line-height: 20px;
                margin-top: 4px;
            }
        }

        & + p {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__swiper {
        display: flex;
        align-items: center;
        overflow: inherit;
        max-width: 666px;
        margin: 40px auto 0;

        @include sm {
            margin-top: 0;
        }
    }

    &__swiper-wrapper {
        height: 348px;

        @include sm {
            height: auto;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: auto;
        height: auto;
        margin: 0;
        transform: none !important;
        cursor: pointer;

        & svg {
            & circle {
                fill: $main;
                stroke: $main;
                transition: $transition;
            }

            & path {
                stroke: $white;
                transition: $transition;
            }
        }
    }

    .swiper-button-prev {
        transform: rotate(0deg) translateX(-50%) !important;
    }

    .swiper-button-next {
        transform: rotate(180deg) translate(-50%, 6px) !important;
    }

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
        & svg {
            & circle {
                fill: $darkBlue;
                stroke: $darkBlue;
            }

            & path {
                stroke: $white;
            }
        }
    }
}

.team {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include lg {
            align-items: flex-start;
        }
    }

    h2 {
        @include lg {
            text-align: left;
            margin: 0;
        }
    }

    &__subtitle {
        margin: 12px 0 18px;
        width: 100%;
        max-width: 554px;
        text-align: center;

        @include lg {
            text-align: left;
            margin: 12px 0 0;
        }
    }

    picture {
        @include sm {
            margin: 0 auto;
            max-width: 400px;
        }
    }
}

.feedback {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include lg {
            flex-direction: column;
        }

        @include sm {
            flex-direction: column;
        }
    }

    &__left-part {
        @include sm {
            max-width: none;
            margin-top: 0;
        }

        h2 {
            text-align: left;
            margin: 0 0 40px;
            max-width: 418px;
            width: 100%;

            @include lg {
                max-width: unset;
                margin: 0 0 24px;
            }
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 20px;
            width: 76px;
            height: 76px;
            transform: translate(100%, 50%);
            background-image: url(../img/feedback_star.svg);
            background-size: contain;

            @include sm {
                bottom: 12px;
                right: 24px;
                width: 28px;
                height: 28px;
                transform: unset;
            }
        }
    }

    &__link-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;

        @include lg {
            margin-bottom: 14px;
        }

        &:last-child {
            margin-bottom: 0;

            @include lg {
                margin-bottom: 20px;
            }
        }
    }

    &__form {
        width: 100%;
        max-width: 600px;
        border-radius: 12px;
        border: 1px solid $main;
        padding: 40px 60px;

        &:before {
            content: url(../img/feedback_form_img.svg);
            position: absolute;
            bottom: -44px;
            right: 8px;
            width: 150px;
            height: 150px;

            @include sm {
                content: "";
            }
        }

        @include sm {
            max-width: none;
            padding: 16px 16px 20px;
        }

        h3 {
            font-size: 20px;
            line-height: normal;
            margin-bottom: 18px;

            @include sm {
                font-size: 16px;
                margin-bottom: 24px;
            }
        }
    }

    &__input-wrapper {
        margin-bottom: 20px;
        @include sm {
            margin-bottom: 12px;
        }
    }

    &__textarea {
        height: 96px;
    }

    &__button {
        @extend button;
        margin-top: 74px;
        @include sm {
            margin-top: 56px;
        }
        @media (max-width: 440px) {
            width: 100%;
        }
    }
}

.openPositions {
    h2 {
        text-align: left;
        margin: 0 0 40px;

        @include sm {
            margin: 0 0 24px;
        }
    }

    &__position-wrapper {
        padding: 24px;
        border-radius: 12px;
        border: 1px solid $main;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @include lg {
            padding: 16px 16px 20px;
        }

        @include sm {
            margin-bottom: 16px;
            flex-direction: column;
        }

        &:last-child {
            margin-bottom: 0;
        }

        h3 {
            font-size: 20px;
            line-height: normal;

            @include lg {
                max-width: 200px;
            }

            @include sm {
                font-size: 16px;
                max-width: unset;
                text-align: center;
                margin-bottom: 16px;
            }
        }
    }

    &__details-wrapper {
        display: flex;
        gap: 12px;

        @include sm {
            margin-bottom: 20px;
            gap: 8px;
            justify-content: center;
        }

        & > div {
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 8px 16px;
            border-radius: 70px;
            border: 1px solid $main;

            p {
                font-size: 14px;
                line-height: 20px;
                color: $main;

                @include lg {
                    white-space: nowrap;
                }
            }
        }
    }

    button {
        width: 156px;

        @include sm {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }
    }
}

.terms-of-use,
.privacy-policy {
    @include sm {
        padding-top: 80px;
    }

    h2 {
        text-align: left;
        margin: 0 0 40px;
        @include sm {
            margin-bottom: 22px;
        }
    }

    h3 {
        margin-bottom: 8px;
    }

    p {
        font-size: 18px;
        line-height: 27px;
    }

    .margin-bottom32 {
        margin-bottom: 32px;
        @include sm {
            margin-bottom: 18px;
        }
    }

    .margin-bottom24 {
        margin-bottom: 24px;
        @include sm {
            margin-bottom: 12px;
        }
    }

    .margin-bottom8 {
        margin-bottom: 8px;
        @include sm {
            margin-bottom: 6px;
        }
    }

    li {
        font-size: 18px;
        line-height: 27px;
        margin-top: 8px;
        @include sm {
            margin-top: 6px;
        }

        &:before {
            top: 13px;
        }
    }
}
