@import "./swiper-bundle.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

button, .feedback__button {
  border: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}
* ::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}
* ::-webkit-scrollbar-thumb {
  background: #adb3ff;
  border-radius: 12px;
}
* ::-webkit-scrollbar-thumb:hover {
  background: #0013ff;
}

@font-face {
  font-family: "IBMPlexMonoRegular";
  src: url("../fonts/Ibmplexmono.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "IBMPlexMonoRSemiBold";
  src: url("../fonts/Ibmplexmonosemibold.woff2");
  font-style: normal;
  font-weight: 700;
}
html {
  font-family: "IBMPlexMonoRegular", sans-serif;
  color: #1c1c23;
}

h1 {
  font-family: "IBMPlexMonoRSemiBold", sans-serif;
  font-size: 48px;
  line-height: 50.4px;
  color: #ffffff;
  max-width: 612px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    line-height: normal;
  }
}

h2 {
  font-family: "IBMPlexMonoRSemiBold", sans-serif;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  color: #1c1c23;
}
@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-family: "IBMPlexMonoRSemiBold", sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #1c1c23;
}

p {
  font-size: 16px;
  line-height: 22px;
  color: #1c1c23;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .container {
    padding: 0 20px;
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

li {
  padding-left: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}
li:last-child {
  margin-bottom: 0;
}
li:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #0013ff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

button, .feedback__button {
  width: 200px;
  height: 52px;
  border-radius: 60px;
  font-family: "IBMPlexMonoRegular", sans-serif;
  cursor: pointer;
  background: #0013ff;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-size: 16px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover, .feedback__button:hover {
  background: #141d93;
}
button:disabled, .feedback__button:disabled {
  background: #adb3ff;
  cursor: not-allowed;
}

.input-wrapper {
  padding-top: 10px;
}
.input-wrapper input,
.input-wrapper textarea {
  width: 100%;
  caret-color: #0013ff;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #0013ff;
  padding: 12px 0 8px;
  font-size: 16px;
  line-height: 22px;
  color: #1c1c23;
  transition: all 0.2s ease-in-out;
}
.input-wrapper input::-ms-clear,
.input-wrapper textarea::-ms-clear {
  width: 0;
  height: 0;
}
.input-wrapper input:focus,
.input-wrapper textarea:focus {
  outline: none;
}
.input-wrapper input + label,
.input-wrapper textarea + label {
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 16px;
  line-height: normal;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  color: #1c1c23;
  background-color: white;
}
.input-wrapper input:invalid:not(:focus):not(:placeholder-shown),
.input-wrapper textarea:invalid:not(:focus):not(:placeholder-shown) {
  border-color: red;
}
.input-wrapper input:invalid:not(:focus):not(:placeholder-shown) + label,
.input-wrapper textarea:invalid:not(:focus):not(:placeholder-shown) + label {
  font-size: 14px;
  line-height: 20px;
  top: 6px;
  color: red;
}
.input-wrapper input:focus + label, .input-wrapper input:valid + label,
.input-wrapper textarea:focus + label,
.input-wrapper textarea:valid + label {
  color: #747581;
  font-size: 14px;
  line-height: 20px;
  top: 6px;
}
.input-wrapper input:valid:not(:focus) + label,
.input-wrapper textarea:valid:not(:focus) + label {
  color: #747581;
}

.modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 1280px) {
  .modal {
    padding: 16px;
  }
}
.modal__content-wrapper {
  margin: auto;
  transform: translateY(-50%);
  top: 50%;
  max-width: 1200px;
  background-color: white;
  max-height: calc(100% - 60px);
  display: flex;
  border-radius: 12px;
}
@media (max-width: 1280px) {
  .modal__content-wrapper {
    max-height: 90vh;
  }
}
.modal__content-wrapper h2 {
  text-align: left;
  margin: 0 0 40px;
}
.modal__content-wrapper h3 {
  margin-bottom: 12px;
}
.modal__content-wrapper p {
  margin-bottom: 40px;
}
.modal__content-wrapper picture {
  border-radius: 12px;
}
.modal__content-wrapper picture img {
  margin-bottom: 40px;
}
.modal__content-wrapper .blue-block {
  font-size: 16px;
  line-height: normal;
  color: #0013ff;
  border: 1px solid #0013ff;
  border-radius: 70px;
  padding: 12px 24px;
  width: fit-content;
  margin-bottom: 12px;
}
.modal__content-wrapper .items-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.modal__content-wrapper .items-wrapper .item {
  width: calc(50% - 20px);
}
.modal__content-wrapper .items-wrapper .item p {
  margin-bottom: 0;
}
.modal__content-wrapper .items-wrapper.simple {
  gap: 10px;
}
.modal__content-wrapper .items-wrapper.vacancy {
  gap: 12px;
}
.modal__content-wrapper .items-wrapper.vacancy > div {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 70px;
  border: 1px solid #0013ff;
}
.modal__content-wrapper .items-wrapper.vacancy > div p {
  font-size: 14px;
  line-height: 20px;
  color: #0013ff;
  margin-bottom: 0;
}
.modal__content-wrapper,
.modal #caption {
  animation-name: modalZoom;
  animation-duration: 0.6s;
}
.modal__scroll {
  padding: 60px 80px 40px;
  overflow: auto;
}
.modal__close {
  position: absolute;
  top: 0;
  right: -64px;
  transition: 0.3s;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .modal__close {
    right: 0;
    top: -64px;
  }
}
.modal__close svg rect {
  transition: all 0.2s ease-in-out;
  stroke: #d7d7e1;
}
.modal__close svg path {
  transition: all 0.2s ease-in-out;
  stroke: #d7d7e1;
}
.modal__close:hover svg rect {
  stroke: #0013ff;
}
.modal__close:hover svg path {
  stroke: #0013ff;
}

.modal5 h2,
.modal6 h2 {
  margin-bottom: 12px;
}
.modal5 .items-wrapper,
.modal6 .items-wrapper {
  margin-bottom: 40px;
}

@keyframes modalZoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navigation {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #adb3ff;
}
.navigation__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
@media (max-width: 768px) {
  .navigation__content-wrapper {
    padding: 14px 0;
  }
}
.navigation__links-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .navigation__links-wrapper {
    width: calc(100% + 80px);
    transform: translateX(-40px);
    height: calc(100vh - 58px);
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .navigation__links-wrapper {
    top: 55px;
  }
}
.navigation__left-section {
  display: flex;
  gap: 40px;
}
@media (max-width: 1280px) {
  .navigation__left-section {
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }
}
.navigation__logo {
  font-family: "IBMPlexMonoRSemiBold", sans-serif;
  font-size: 32px;
  line-height: normal;
  color: #1c1c23;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .navigation__logo {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .navigation__right-section {
    padding-bottom: 32px;
  }
}
.navigation__right-section button, .navigation__right-section .feedback__button {
  margin-left: 48px;
  border: 1px solid #0013ff;
  background-color: #ffffff;
  color: #0013ff;
}
.navigation__right-section button:hover, .navigation__right-section .feedback__button:hover {
  background-color: #0013ff;
  color: #ffffff;
}
@media (max-width: 1280px) {
  .navigation__right-section button, .navigation__right-section .feedback__button {
    display: none;
  }
}
.navigation__link {
  font-size: 16px;
  line-height: normal;
  transition: all 0.2s ease-in-out;
  color: #1c1c23;
}
@media (max-width: 1280px) {
  .navigation__link {
    margin-right: 0;
    padding: 16px 0;
    border-bottom: 1px solid #d7d7e1;
  }
}
.navigation__link:hover {
  color: #0013ff;
}
.navigation__line {
  width: 20px;
  height: 1px;
  background-color: #1c1c23;
  margin-bottom: 6px;
  display: block;
}
.navigation__line:last-child {
  margin-bottom: 0;
}
.navigation__toggle {
  display: none;
}
.navigation__toggle:checked + label > .navigation__line:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: -2px;
}
.navigation__toggle:checked + label > .navigation__line:nth-child(2) {
  display: none;
}
.navigation__toggle:checked + label > .navigation__line:nth-child(3) {
  transform: rotate(-45deg);
}
.navigation__toggle:checked + label + .navigation__links-wrapper {
  display: flex;
}
.navigation__button {
  display: none;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .navigation__button {
    display: block;
  }
}

.footer {
  margin-top: 140px;
}
@media (max-width: 1280px) {
  .footer {
    margin: 80px 0 0;
  }
}
.footer .container {
  padding: 24px 0 22px;
  border-top: 1px solid #adb3ff;
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
}
.footer__logoSection {
  padding-right: 34px;
  margin-right: 34px;
  border-right: 1px solid #adb3ff;
  height: 68px;
}
@media (max-width: 1280px) {
  .footer__logoSection {
    border-right: unset;
    border-bottom: 1px solid #adb3ff;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    height: auto;
    margin-right: 0;
    width: 100%;
    max-width: 320px;
  }
}
@media (max-width: 768px) {
  .footer__logoSection {
    margin-bottom: 24px;
  }
}
.footer__logo {
  color: #1c1c23;
  font-family: "IBMPlexMonoRSemiBold", sans-serif;
  font-size: 32px;
  line-height: normal;
}
@media (max-width: 1280px) {
  .footer__logo {
    margin: 0 0 16px;
  }
}
@media (max-width: 768px) {
  .footer__logo {
    font-size: 20px;
  }
}
.footer__section {
  display: flex;
  align-items: center;
  gap: 28px;
  padding-right: 34px;
  margin-right: 34px;
  border-right: 1px solid #adb3ff;
  height: 68px;
}
@media (max-width: 1280px) {
  .footer__section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 320px;
    gap: 8px;
    padding-right: 0;
    margin-right: 0;
    border-right: unset;
    border-bottom: 1px solid #adb3ff;
    height: auto;
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
}
.footer__address {
  display: flex;
  gap: 6px;
}
.footer__address svg {
  transform: translateY(2px);
}
@media (max-width: 1280px) {
  .footer__address svg {
    transform: unset;
  }
}
.footer__address p {
  color: #747581;
  font-size: 14px;
  line-height: 20px;
  max-width: 168px;
}
@media (max-width: 1280px) {
  .footer__address p {
    max-width: unset;
  }
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}
.footer__link:last-child {
  margin-bottom: 0;
}
@media (max-width: 1280px) {
  .footer__link {
    margin-bottom: 8px;
  }
}
.footer__link svg path {
  stroke: #747581;
  transition: all 0.2s ease-in-out;
}
.footer__link > p {
  color: #747581;
  font-size: 14px;
  line-height: 20px;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}
.footer__link:hover p {
  color: #1c1c23;
}
.footer__link:hover svg path {
  stroke: #1c1c23;
}
.footer__link.terms {
  margin-bottom: 12px;
}
@media (max-width: 1280px) {
  .footer__link.terms {
    margin-bottom: 0;
  }
}
.footer__privacy-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 1280px) {
  .footer__privacy-section {
    flex-direction: row;
    justify-content: space-between;
    max-width: 320px;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #adb3ff;
  }
}
.footer__policy {
  color: #747581;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  margin-top: 8px;
}
@media (max-width: 1280px) {
  .footer__policy {
    display: none;
  }
}
.footer__policy--mobile {
  display: none;
  width: 100%;
  max-width: 280px;
  text-align: center;
  color: #747581;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 1280px) {
  .footer__policy--mobile {
    display: block;
  }
}

section {
  overflow: hidden;
  margin-top: 25px;
  padding-top: 125px;
}
section:first-of-type {
  margin-top: 85px;
  padding-top: 0;
}
@media (max-width: 768px) {
  section:first-of-type {
    margin-top: 56px;
  }
}
@media (max-width: 1280px) {
  section {
    margin-top: 5px;
    padding-top: 75px;
  }
}
@media (max-width: 768px) {
  section {
    padding-top: 56px;
  }
}

.header .container {
  background-color: #1c1c23;
  background-image: url(../img/header_circle-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 148px 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1280px) {
  .header .container {
    padding-top: 116px;
    padding-bottom: 146px;
    margin: 0 auto;
    width: calc(100% - 40px);
    background-size: 100% 100%;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 32px);
  }
}
@media (max-width: 768px) {
  .header h1 {
    max-width: 320px;
  }
}
.header__subtitle {
  margin: 16px auto 40px;
  color: #c2c3cc;
  max-width: 480px;
  text-align: center;
}
@media (max-width: 768px) {
  .header__subtitle {
    max-width: 320px;
    margin: 16px 0 24px;
  }
}
.header__items-wrapper {
  display: flex;
  border-radius: 12px;
  border: 1px solid #0013ff;
  background-color: #ffffff;
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  transform: translateY(-58px);
}
@media (max-width: 1280px) {
  .header__items-wrapper {
    flex-direction: column;
    transform: translateY(-32px);
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .header__items-wrapper {
    width: calc(100% - 56px);
  }
}
.header__items-wrapper .item {
  padding: 42px 32px 28px 84px;
  flex: 1;
}
@media (max-width: 1280px) {
  .header__items-wrapper .item {
    padding: 24px 24px 24px 76px;
  }
}
.header__items-wrapper .item:before {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 40px;
  height: 40px;
}
@media (max-width: 1280px) {
  .header__items-wrapper .item:before {
    top: 24px;
    left: 24px;
  }
}
.header__items-wrapper .item:first-child:before {
  content: url(../img/header_item-1.svg);
}
.header__items-wrapper .item:nth-child(2) {
  border-left: 1px solid #0013ff;
  border-right: 1px solid #0013ff;
}
.header__items-wrapper .item:nth-child(2):before {
  content: url(../img/header_item-2.svg);
}
@media (max-width: 1280px) {
  .header__items-wrapper .item:nth-child(2) {
    border-left: unset;
    border-right: unset;
    border-top: 1px solid #0013ff;
    border-bottom: 1px solid #0013ff;
  }
}
.header__items-wrapper .item:last-child {
  padding-right: 26px;
}
.header__items-wrapper .item:last-child:before {
  content: url(../img/header_item-3.svg);
}
.header__items-wrapper .item h3 {
  margin-bottom: 10px;
}
.header__items-wrapper .item p {
  color: #747581;
  font-size: 14px;
  line-height: 20px;
}
.header picture {
  position: absolute;
}
.header picture:nth-of-type(1) {
  width: 350px;
  height: 208px;
  top: 60px;
  left: -120px;
}
@media (max-width: 1280px) {
  .header picture:nth-of-type(1) {
    width: 148px;
    height: 88px;
    top: 16px;
    left: -20px;
  }
}
@media (max-width: 768px) {
  .header picture:nth-of-type(1) {
    left: -16px;
  }
}
.header picture:nth-of-type(2) {
  width: 150px;
  height: 150px;
  top: 60px;
  right: 108px;
}
@media (max-width: 1280px) {
  .header picture:nth-of-type(2) {
    width: 88px;
    height: 88px;
    top: 16px;
    right: 16px;
  }
}
.header picture:nth-of-type(3) {
  width: 350px;
  height: 208px;
  top: 270px;
  right: -120px;
}
@media (max-width: 1280px) {
  .header picture:nth-of-type(3) {
    width: 147px;
    height: 88px;
    right: -20px;
    top: unset;
    bottom: 46px;
  }
}
@media (max-width: 768px) {
  .header picture:nth-of-type(3) {
    right: -16px;
  }
}
.header picture:nth-of-type(4) {
  width: 150px;
  height: 150px;
  top: 439px;
  right: 292px;
}
@media (max-width: 1280px) {
  .header picture:nth-of-type(4) {
    width: 54px;
    height: 54px;
    transform: translateX(50%);
    right: 50%;
    top: unset;
    bottom: 10px;
  }
}
.header picture:nth-of-type(5) {
  width: 151px;
  height: 151px;
  top: 328px;
  left: 136px;
}
@media (max-width: 1280px) {
  .header picture:nth-of-type(5) {
    width: 80px;
    height: 80px;
    left: 24px;
    top: unset;
    bottom: 44px;
  }
}

.aboutUs {
  padding-top: 90px;
}
@media (max-width: 768px) {
  .aboutUs {
    padding-top: 50px;
  }
}
.aboutUs .container {
  display: flex;
  gap: 80px;
}
@media (max-width: 1280px) {
  .aboutUs .container {
    flex-direction: column;
  }
}
.aboutUs__title {
  text-align: left;
  margin: 0;
}
@media (max-width: 1280px) {
  .aboutUs__title {
    margin: 0;
  }
}
.aboutUs__subtitle {
  margin: 12px 0 40px;
}
@media (max-width: 1280px) {
  .aboutUs__subtitle {
    order: 3;
    margin: 16px 0 0;
  }
}
.aboutUs__left-side {
  flex: 1;
}
@media (max-width: 1280px) {
  .aboutUs__left-side {
    display: flex;
    flex-direction: column;
  }
}
.aboutUs__comment-wrapper {
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #adb3ff;
  display: flex;
  gap: 16px;
}
@media (max-width: 1280px) {
  .aboutUs__comment-wrapper {
    order: 2;
  }
}
@media (max-width: 768px) {
  .aboutUs__comment-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 20px;
    gap: 8px;
  }
}
.aboutUs__comment-wrapper .photo {
  width: 100%;
  max-width: 125px;
  flex: 1;
}
.aboutUs__comment-wrapper .comment {
  flex: 1;
}
@media (max-width: 768px) {
  .aboutUs__comment-wrapper .comment {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.aboutUs__comment-wrapper .comment__text {
  color: #0013ff;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .aboutUs__comment-wrapper .comment__text {
    margin-top: 16px;
  }
}
.aboutUs__comment-wrapper h3 {
  color: #0013ff;
  margin-top: 8px;
}
.aboutUs__workspace-img {
  width: 100%;
  max-width: 554px;
  margin-top: 60px;
  flex: 1;
}
@media (max-width: 1280px) {
  .aboutUs__workspace-img {
    margin: 24px auto;
  }
}
@media (max-width: 1280px) {
  .aboutUs__workspace-img.desktop {
    display: none;
  }
}
.aboutUs__workspace-img.mobile {
  display: none;
}
@media (max-width: 1280px) {
  .aboutUs__workspace-img.mobile {
    display: block;
  }
}

@media (max-width: 1280px) {
  .expertise .container {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .expertise .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.expertise__title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 1280px) {
  .expertise__title-wrapper {
    flex-direction: column;
    margin-bottom: 24px;
  }
}
.expertise__title-wrapper h2 {
  margin: 0;
}
@media (max-width: 1280px) {
  .expertise__title-wrapper h2 {
    margin-bottom: 12px;
  }
}
.expertise__title-wrapper .subtitle {
  width: 100%;
  max-width: 550px;
}
.expertise__accordion-wrapper {
  margin-top: 60px;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .expertise__accordion-wrapper {
    margin-top: 24px;
  }
}
.expertise__list-wrapper {
  height: 488px;
}
.expertise__list {
  height: 100%;
  flex-wrap: nowrap;
  display: flex;
}
.expertise__item {
  width: 10%;
  height: 100%;
  min-width: 76px;
  grid-row-gap: 20px;
  border-left: 1px solid #1c1c23;
  flex-direction: column;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  position: relative;
  transition: width 0.9s ease-in-out;
}
.expertise__item:last-child {
  border-right: 1px solid #1c1c23;
}
.expertise__item.active {
  width: 80% !important;
}
.expertise__item.active .expertise__img {
  opacity: 1;
}
.expertise__item.active .expertise__details-wrapper {
  text-align: left;
  display: flex;
  justify-content: left;
  flex-direction: row;
}
.expertise__item.active .expertise__text-wrapper {
  opacity: 1;
  top: 0px;
}
.expertise__item.active .expertise__vertical-title {
  opacity: 0;
}
.expertise__item.active .expertise__title {
  opacity: 1;
}
.expertise__item.active .expertise__icon {
  transform: rotate(90deg);
}
.expertise__item:nth-child(1) .expertise__img {
  background-image: url(../img/exp1_back-img.png);
}
.expertise__item:nth-child(2) .expertise__img {
  background-image: url(../img/exp2_back-img.png);
}
.expertise__item:nth-child(3) .expertise__img {
  background-image: url(../img/exp3_back-img.png);
}
.expertise__item:nth-child(4) .expertise__img {
  background-image: url(../img/exp4_back-img.png);
}
.expertise__item:nth-child(5) .expertise__img {
  background-image: url(../img/exp5_back-img.png);
}
.expertise__item:nth-child(6) .expertise__img {
  background-image: url(../img/exp6_back-img.png);
}
.expertise__item:nth-child(7) .expertise__img {
  background-image: url(../img/exp7_back-img.png);
}
.expertise__item:nth-child(8) .expertise__img {
  background-image: url(../img/exp8_back-img.png);
}
.expertise__img {
  transition: opacity 0.4s ease-in-out;
  width: 100%;
  height: 80%;
  opacity: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  position: relative;
  border-radius: 4px;
}
.expertise__details-wrapper {
  width: 100%;
  grid-column-gap: 15px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: block;
}
.expertise__gradient-wrapper {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border-radius: 4px;
}
.expertise__text-wrapper {
  opacity: 0;
  position: relative;
  top: 20px;
  transition: all 0.5s ease-in-out 0.8s;
  width: 100%;
}
.expertise .paragraph {
  margin-bottom: 0;
  background-color: #1c1c23;
  padding: 20px 24px;
  color: white;
  border-radius: 0 0 4px 4px;
}
.expertise__details-flex {
  grid-column-gap: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.expertise__title {
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  left: 80px;
  font-size: 20px;
  line-height: normal;
  transition: opacity 0.4s ease-in-out;
}
.expertise__vertical-title-wrapper {
  width: 1px;
  height: 1px;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: auto;
  bottom: 80px;
  left: auto;
  right: auto;
  transform: rotate(-90deg);
}
.expertise__vertical-title {
  white-space: nowrap;
  transform: translateY(-50%);
  opacity: 1;
  font-family: "IBMPlexMonoRSemiBold", sans-serif;
  font-size: 20px;
  line-height: normal;
  transition: opacity 0.4s ease-in-out;
}
.expertise__icon {
  width: 52px;
  height: 52px;
}

.programmingLanguages .container {
  border-bottom: 1px solid #1c1c23;
}
@media (max-width: 768px) {
  .programmingLanguages .container {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 1280px) {
  .programmingLanguages h2 {
    margin: 0;
    text-align: left;
  }
}
.programmingLanguages .subtitle {
  margin: 12px auto 40px;
  width: 100%;
  max-width: 554px;
  text-align: center;
}
@media (max-width: 1280px) {
  .programmingLanguages .subtitle {
    margin: 12px 0 16px;
    text-align: left;
  }
}
.programmingLanguages img {
  margin: 0 auto;
  height: 122px;
  transform: translateY(8px);
}

.caseStudies__title {
  margin: 0 0 12px;
  text-align: left;
}
@media (max-width: 768px) {
  .caseStudies__title {
    margin: 0 0 24px;
  }
}
.caseStudies__subtitle {
  text-align: left;
  max-width: 470px;
}
.caseStudies__swiper-buttons {
  display: flex;
  position: absolute;
  top: 50px;
  right: 0;
}
@media (max-width: 1280px) {
  .caseStudies__swiper-buttons {
    display: none;
  }
}
.caseStudies__swiper-slide {
  border-radius: 12px;
  border: 1px solid #1c1c23;
  width: 100%;
  transition: background-size 0.6s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: 100%;
}
@media (max-width: 768px) {
  .caseStudies__swiper-slide {
    background-size: 110%;
    width: calc(100% - 32px) !important;
  }
}
.caseStudies__swiper-slide:hover {
  background-size: 104%;
}
@media (max-width: 768px) {
  .caseStudies__swiper-slide:hover {
    background-size: 110%;
  }
}
.caseStudies__swiper-slide:hover .caseStudies__link-arrow svg circle {
  fill: #141d93;
}
.caseStudies__swiper-slide:nth-child(1) {
  background-image: url(../img/case1_img.png);
}
.caseStudies__swiper-slide:nth-child(2) {
  background-image: url(../img/case2_img.png);
}
.caseStudies__swiper-slide:nth-child(3) {
  background-image: url(../img/case3_img.png);
  background-position-y: -2px;
}
.caseStudies__swiper-slide:nth-child(4) {
  background-image: url(../img/case4_img.png);
}
.caseStudies__swiper-text-wrapper {
  padding: 20px 24px;
  background-color: #1c1c23;
  border-radius: 0 0 12px 12px;
}
@media (max-width: 768px) {
  .caseStudies__swiper-text-wrapper {
    padding: 12px 16px 16px;
  }
}
.caseStudies__swiper-text-wrapper h3 {
  color: white;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .caseStudies__swiper-text-wrapper h3 {
    margin-bottom: 8px;
  }
}
.caseStudies__slide-text {
  color: white;
}
@media (max-width: 768px) {
  .caseStudies__slide-text {
    font-size: 14px;
    line-height: 20px;
  }
}
.caseStudies__swiper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  overflow: inherit;
}
@media (max-width: 768px) {
  .caseStudies__swiper {
    margin-top: 24px;
  }
}
.caseStudies__swiper-wrapper {
  height: 400px;
}
.caseStudies__link-arrow {
  position: absolute;
  top: 24px;
  right: 24px;
}
@media (max-width: 768px) {
  .caseStudies__link-arrow {
    top: 16px;
    right: 16px;
  }
}
.caseStudies__link-arrow svg circle {
  transition: all 0.2s ease-in-out;
}
.caseStudies .swiper-button-prev2,
.caseStudies .swiper-button-next2 {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: auto;
  height: auto;
  margin: 0;
  transform: none !important;
  cursor: pointer;
}
.caseStudies .swiper-button-prev2 svg circle, .caseStudies .swiper-button-prev2 svg path,
.caseStudies .swiper-button-next2 svg circle,
.caseStudies .swiper-button-next2 svg path {
  transition: all 0.2s ease-in-out;
}
.caseStudies .swiper-button-prev2 {
  transform: rotate(0deg) !important;
  margin-right: 8px;
}
.caseStudies .swiper-button-next2 {
  transform: rotate(180deg) translateY(6px) !important;
}
.caseStudies .swiper-button-prev2:hover svg circle,
.caseStudies .swiper-button-next2:hover svg circle {
  fill: #0013ff;
  stroke: #ffffff;
}
.caseStudies .swiper-button-prev2:hover svg path,
.caseStudies .swiper-button-next2:hover svg path {
  stroke: #ffffff;
}

.clients .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .clients .container {
    flex-direction: column;
  }
}
.clients h2 {
  margin: 0 0 12px;
  text-align: left;
}
.clients__left-part {
  width: 100%;
  max-width: 338px;
}
@media (max-width: 1280px) {
  .clients__left-part {
    max-width: unset;
  }
}
@media (max-width: 768px) {
  .clients__right-part {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
  }
}
.clients__row {
  display: flex;
  margin-bottom: 38px;
}
@media (max-width: 1280px) {
  .clients__row {
    margin-bottom: 0;
    margin-top: 16px;
    justify-content: space-between;
  }
  .clients__row:first-child {
    margin-top: 24px;
  }
}
@media (max-width: 1280px) and (max-width: 768px) {
  .clients__row:first-child {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .clients__row {
    flex-direction: column;
    width: 50%;
    margin: 0;
  }
}
.clients__row:nth-of-type(1) {
  transform: translateX(-74px);
}
@media (max-width: 1280px) {
  .clients__row:nth-of-type(1) {
    transform: translateX(0);
  }
}
.clients__row:nth-of-type(2) {
  transform: translateX(-38px);
}
@media (max-width: 1280px) {
  .clients__row:nth-of-type(2) {
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .clients__row:nth-of-type(2) > div {
    border-right: 1px solid #0013ff !important;
  }
}
.clients__row:nth-of-type(3) {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .clients__row:nth-of-type(3) {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .clients__row:nth-of-type(3) > div {
    width: 50%;
  }
  .clients__row:nth-of-type(3) > div:nth-child(2), .clients__row:nth-of-type(3) > div:nth-child(3) {
    border-right: 1px solid #0013ff;
  }
}
.clients__row > div {
  width: 240px;
  height: 66px;
  border-left: 1px solid #0013ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .clients__row > div {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
  }
}
.clients__row > div:last-child {
  border-right: 1px solid #0013ff;
}
@media (max-width: 768px) {
  .clients__row > div:last-child {
    border-right: 1px solid transparent;
  }
}

.reviews__title-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .reviews__title-wrapper {
    flex-direction: column;
  }
}
.reviews__title-wrapper h2 {
  text-align: left;
  margin: 0;
}
.reviews__title-wrapper p {
  max-width: 562px;
}
@media (max-width: 1280px) {
  .reviews__title-wrapper p {
    margin: 12px 0 24px;
  }
}
.reviews__swiper-buttons {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 50%;
  width: 100%;
  right: 0;
  left: 0;
}
@media (max-width: 1280px) {
  .reviews__swiper-buttons {
    display: none;
  }
}
.reviews__swiper-slide {
  padding: 32px 48px;
  border-radius: 12px;
  border: 1px solid #adb3ff;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .reviews__swiper-slide {
    padding: 16px 16px 20px;
    width: calc(100% - 32px) !important;
  }
}
.reviews__swiper-slide.swiper-slide-active {
  background-color: #f8f8ff;
  border: 1px solid #f8f8ff;
  opacity: 1;
}
.reviews__swiper-text-wrapper {
  padding: 20px 24px;
  background-color: #1c1c23;
  border-radius: 0 0 12px 12px;
}
.reviews__swiper-text-wrapper h3 {
  color: white;
  margin-bottom: 16px;
}
.reviews__swiper-person-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .reviews__swiper-person-wrapper {
    flex-direction: column;
    gap: 8px;
  }
}
.reviews__swiper-person-wrapper img {
  width: 52px;
  height: 52px;
}
.reviews__swiper-person-wrapper p {
  color: #747581;
}
@media (max-width: 768px) {
  .reviews__swiper-person-wrapper p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
  }
}
.reviews__swiper-person-wrapper + p {
  font-size: 14px;
  line-height: 20px;
}
.reviews__swiper {
  display: flex;
  align-items: center;
  overflow: inherit;
  max-width: 666px;
  margin: 40px auto 0;
}
@media (max-width: 768px) {
  .reviews__swiper {
    margin-top: 0;
  }
}
.reviews__swiper-wrapper {
  height: 348px;
}
@media (max-width: 768px) {
  .reviews__swiper-wrapper {
    height: auto;
  }
}
.reviews .swiper-button-prev,
.reviews .swiper-button-next {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: auto;
  height: auto;
  margin: 0;
  transform: none !important;
  cursor: pointer;
}
.reviews .swiper-button-prev svg circle,
.reviews .swiper-button-next svg circle {
  fill: #0013ff;
  stroke: #0013ff;
  transition: all 0.2s ease-in-out;
}
.reviews .swiper-button-prev svg path,
.reviews .swiper-button-next svg path {
  stroke: #ffffff;
  transition: all 0.2s ease-in-out;
}
.reviews .swiper-button-prev {
  transform: rotate(0deg) translateX(-50%) !important;
}
.reviews .swiper-button-next {
  transform: rotate(180deg) translate(-50%, 6px) !important;
}
.reviews .swiper-button-prev:hover svg circle,
.reviews .swiper-button-next:hover svg circle {
  fill: #141d93;
  stroke: #141d93;
}
.reviews .swiper-button-prev:hover svg path,
.reviews .swiper-button-next:hover svg path {
  stroke: #ffffff;
}

.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1280px) {
  .team .container {
    align-items: flex-start;
  }
}
@media (max-width: 1280px) {
  .team h2 {
    text-align: left;
    margin: 0;
  }
}
.team__subtitle {
  margin: 12px 0 18px;
  width: 100%;
  max-width: 554px;
  text-align: center;
}
@media (max-width: 1280px) {
  .team__subtitle {
    text-align: left;
    margin: 12px 0 0;
  }
}
@media (max-width: 768px) {
  .team picture {
    margin: 0 auto;
    max-width: 400px;
  }
}

.feedback .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .feedback .container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .feedback .container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .feedback__left-part {
    max-width: none;
    margin-top: 0;
  }
}
.feedback__left-part h2 {
  text-align: left;
  margin: 0 0 40px;
  max-width: 418px;
  width: 100%;
}
@media (max-width: 1280px) {
  .feedback__left-part h2 {
    max-width: unset;
    margin: 0 0 24px;
  }
}
.feedback__left-part:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 76px;
  height: 76px;
  transform: translate(100%, 50%);
  background-image: url(../img/feedback_star.svg);
  background-size: contain;
}
@media (max-width: 768px) {
  .feedback__left-part:before {
    bottom: 12px;
    right: 24px;
    width: 28px;
    height: 28px;
    transform: unset;
  }
}
.feedback__link-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .feedback__link-wrapper {
    margin-bottom: 14px;
  }
}
.feedback__link-wrapper:last-child {
  margin-bottom: 0;
}
@media (max-width: 1280px) {
  .feedback__link-wrapper:last-child {
    margin-bottom: 20px;
  }
}
.feedback__form {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  border: 1px solid #0013ff;
  padding: 40px 60px;
}
.feedback__form:before {
  content: url(../img/feedback_form_img.svg);
  position: absolute;
  bottom: -44px;
  right: 8px;
  width: 150px;
  height: 150px;
}
@media (max-width: 768px) {
  .feedback__form:before {
    content: "";
  }
}
@media (max-width: 768px) {
  .feedback__form {
    max-width: none;
    padding: 16px 16px 20px;
  }
}
.feedback__form h3 {
  font-size: 20px;
  line-height: normal;
  margin-bottom: 18px;
}
@media (max-width: 768px) {
  .feedback__form h3 {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
.feedback__input-wrapper {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .feedback__input-wrapper {
    margin-bottom: 12px;
  }
}
.feedback__textarea {
  height: 96px;
}
.feedback__button {
  margin-top: 74px;
}
@media (max-width: 768px) {
  .feedback__button {
    margin-top: 56px;
  }
}
@media (max-width: 440px) {
  .feedback__button {
    width: 100%;
  }
}

.openPositions h2 {
  text-align: left;
  margin: 0 0 40px;
}
@media (max-width: 768px) {
  .openPositions h2 {
    margin: 0 0 24px;
  }
}
.openPositions__position-wrapper {
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #0013ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .openPositions__position-wrapper {
    padding: 16px 16px 20px;
  }
}
@media (max-width: 768px) {
  .openPositions__position-wrapper {
    margin-bottom: 16px;
    flex-direction: column;
  }
}
.openPositions__position-wrapper:last-child {
  margin-bottom: 0;
}
.openPositions__position-wrapper h3 {
  font-size: 20px;
  line-height: normal;
}
@media (max-width: 1280px) {
  .openPositions__position-wrapper h3 {
    max-width: 200px;
  }
}
@media (max-width: 768px) {
  .openPositions__position-wrapper h3 {
    font-size: 16px;
    max-width: unset;
    text-align: center;
    margin-bottom: 16px;
  }
}
.openPositions__details-wrapper {
  display: flex;
  gap: 12px;
}
@media (max-width: 768px) {
  .openPositions__details-wrapper {
    margin-bottom: 20px;
    gap: 8px;
    justify-content: center;
  }
}
.openPositions__details-wrapper > div {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 70px;
  border: 1px solid #0013ff;
}
.openPositions__details-wrapper > div p {
  font-size: 14px;
  line-height: 20px;
  color: #0013ff;
}
@media (max-width: 1280px) {
  .openPositions__details-wrapper > div p {
    white-space: nowrap;
  }
}
.openPositions button, .openPositions .feedback__button {
  width: 156px;
}
@media (max-width: 768px) {
  .openPositions button, .openPositions .feedback__button {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .terms-of-use,
  .privacy-policy {
    padding-top: 80px;
  }
}
.terms-of-use h2,
.privacy-policy h2 {
  text-align: left;
  margin: 0 0 40px;
}
@media (max-width: 768px) {
  .terms-of-use h2,
  .privacy-policy h2 {
    margin-bottom: 22px;
  }
}
.terms-of-use h3,
.privacy-policy h3 {
  margin-bottom: 8px;
}
.terms-of-use p,
.privacy-policy p {
  font-size: 18px;
  line-height: 27px;
}
.terms-of-use .margin-bottom32,
.privacy-policy .margin-bottom32 {
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .terms-of-use .margin-bottom32,
  .privacy-policy .margin-bottom32 {
    margin-bottom: 18px;
  }
}
.terms-of-use .margin-bottom24,
.privacy-policy .margin-bottom24 {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .terms-of-use .margin-bottom24,
  .privacy-policy .margin-bottom24 {
    margin-bottom: 12px;
  }
}
.terms-of-use .margin-bottom8,
.privacy-policy .margin-bottom8 {
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .terms-of-use .margin-bottom8,
  .privacy-policy .margin-bottom8 {
    margin-bottom: 6px;
  }
}
.terms-of-use li,
.privacy-policy li {
  font-size: 18px;
  line-height: 27px;
  margin-top: 8px;
}
@media (max-width: 768px) {
  .terms-of-use li,
  .privacy-policy li {
    margin-top: 6px;
  }
}
.terms-of-use li:before,
.privacy-policy li:before {
  top: 13px;
}

/*# sourceMappingURL=styles.css.map */
